input {
    display: flex;
}

textarea {
    display: flex;
}

.booking-submission-message {
    padding: 2px 0px;
    font-size: 13px;
    font-weight: bold;
    overflow-wrap: break-word;
    color: white;
    border-radius: 20%;
    width: auto;
    background-color: rgb(105, 195, 104);
    text-align: center;
    margin-left: 10px;
    align-self: center;
}
