h2 {
  font-style: italic;
  font-size: 20px;
}

.home-picture {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 430px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 310px;
  border-radius: 25px;
  margin-bottom: 25px;
  text-align: center;
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
}

.home-picture-city {
  background-size: cover;
  background-repeat: no-repeat;
  width: 310px;
  border-radius: 25px;
  object-fit: cover;
  overflow: hidden;
  height: 310px;
  margin-bottom: 10px;
}

.home-picture-city:hover,
.home-picture:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px 2px darkgrey;
  -moz-box-shadow: 0 0 5px 2px darkgrey;
  box-shadow: 0 0 5px 2px darkgrey;
  text-align: center;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition-duration: 0.5s;
}

.home-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 22%;
  width: 100%;
  font: 16pt "Helvetica Neue";
  font-weight: bold;
  color: white;
}

div.tag-title {
  font-size: 20pt;
}

div.tag-phrase {
  font-size: 14pt;
  font-weight: normal;
  padding-top: 5px;
}

div.home-name.idx0 {
  background: grey;
}

div.home-name.idx1 {
  background: rgb(84, 141, 84);
}

div.home-name.idx2 {
  background: burlywood;
}

div.home-name.idx3 {
  background: lightcoral;
}
div.home-name.idx4 {
  background: lightseagreen;
}
div.home-name.idx5 {
  background: lightblue;
}

div.home-page-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

div.home-page-message > h1 {
  margin-bottom: 10px;
  font-size: 44pt;
}

div.home-page-message > h3 {
  width: 550px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0;
  font-size: 18pt;
  font-weight: none;
}

div.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

form.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 5px;
}

button.search {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  border: 2px solid rgb(29, 130, 177);
  background-color: rgb(29, 130, 177);
  margin-left: -20px;
}

button.search:hover {
  background-color: white;
}

button.search:hover > i {
  color: rgb(29, 130, 177);
}

i.fa-search {
  margin-left: 2px;
  padding: 0;
}

input.search {
  display: flex;
  align-items: center;
  height: 35px;
  margin: 0;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 5px 2px;
}

div.search.form-wrapper {
  width: 900px;
  background-color: lightblue;
  height: 80px;
  padding: 0 5px;
  border: 1px solid grey;
  border-radius: 30px;
  z-index: 1;
  display: flex;
}

p.search {
  font-size: 10pt;
  margin: 0;
  margin-top: -5px;
  margin-bottom: 5px;
}

img.search {
  width: 1000px;
  height: 500px;
  position: relative;
  border-radius: 30px;
  margin-top: -50px;
}

div.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.tags-outer-container,
div.city-outer-container,
div.decoration-outer-container {
  width: 1000px;
  margin-top: 30px;
}

div.decoration-outer-container.stars {
  background-image: url("https://coastal-camper.s3.amazonaws.com/stars.png");
  height: 500px;
  width: 1000px;
  background-repeat: no-repeat;
  border-radius: 25px;
  object-fit: cover;
  object-position: center center;
  display: flex;
  justify-content: flex-end;
}

div.decoration-outer-container.stars > div {
  background-color: rgb(124, 78, 155);
  color: white;
  font-weight: bold;
  border-radius: 25px;
  margin: 20px 20px;
  padding: 20px 20px;
  width: 300px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.stars {
  font-size: 15pt;
}
p.stars {
  font-size: 12pt;
}
button.stars {
  color: rgb(124, 78, 155);
  background-color: white;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  align-self: center;
  padding: 10px 15px;
  border: none;
  font-size: 12pt;
}

div.tags-inner-container,
div.city-inner-container,
div.decoration-inner-container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.inputs-container {
  display: flex;
  width: 85%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

div.inputs-container > div {
  width: fit-content;
  color: rgb(14, 6, 37);
  font-size: 11pt;
}

label.search.city + input {
  width: 250px;
}

label.search.state + input {
  width: 230px;
}

label.search.country + input {
  width: 200px;
}

div.location-name.home {
  width: 310px;
  margin-bottom: 1px;
  cursor: pointer;
}

h3.list {
  margin-bottom: 5px;
}

div.city {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 3px;
}

div.city-name {
  margin-bottom: 20px;
}
