.tag-picture {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    width: 400px;
    border-radius: 25px;
    margin: 20px;
}

.tag-picture:hover {
    cursor: pointer;
}

.tag-name {
    background: rgba(251, 251, 251, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    border-radius: 25px;
    font: 30px "Helvetica Neue";
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
