div.map.location-info {
  font-size: 10pt;
  color: rgb(61, 61, 61);
  font-weight: bold;
  padding-top: 3px;
}

img.map.location-pic {
  height: 40px;
  width: 55px;
}

div.map.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-clicked {
  display: hidden;
}

.map_page__container {
  height: 100%;
}
