.location-information {
    height: auto;
    /* width: 250px; */
}

.location-description {
    font-size: 13px;
    padding: 5px 0px;
    font-weight: normal;
    height: auto;
    overflow-wrap: break-word;
}

.location-price {
    padding-top: 10px;
}

.booking-form {
    position: sticky;
    top: 20px;
    float: right;
    width: 180px;
    display: flex;
    flex-direction: column;
    border: solid #000000 1px
}

.booking-form > input {
    margin-bottom: 5px;
    align-self: center;
}

.booking-form > * {
    margin-left: 8px;
    margin-right: 8px;
}

.booking-form > select {
    align-self: center;
}

.booking-submission-message {
    padding: 2px 0px;
    font-size: 13px;
    font-weight: bold;
    overflow-wrap: break-word;
    color: white;
    border-radius: 20%;
    width: auto;
    background-color: rgb(105, 195, 104);
    text-align: center;
    margin-left: 10px;
    align-self: center;
}

button.book {
    margin: 7px 0px;
    height: 30px;
    width: 70px;
    align-self: center;
}
