div.location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.location-container > * {
  width: 800px;
}

.location-information {
  height: fit-content;
  width: 550px;
}

.location-address {
  font-size: 13pt;
}

div.location-container > img {
  height: 500px;
  width: 800px;
}

.location-description {
  font-size: 12pt;
  padding: 5px 0px;
  font-weight: normal;
  height: auto;
  overflow-wrap: break-word;
}

.location-price {
  padding-top: 10px;
  text-align: right;
  margin-bottom: 20px;
}

.location-booking-information {
  display: flex;
}

div.booking-form {
  background-color: white;
  position: sticky;
  top: 20px;
  width: 260px;
  border: solid lightgrey 0.5px;
  display: flex;
  flex-direction: column;
  height: 240px;
  margin-left: 60px;
  margin-top: -20px;
  z-index: 1;
}

.booking-form > input {
  margin-bottom: 5px;
  align-self: center;
}

.booking-form > * {
  padding: 8px 8px;
}

.booking-form > select {
  align-self: center;
}

.booking-submission-message {
  padding: 2px 0px;
  font-size: 13px;
  font-weight: bold;
  overflow-wrap: break-word;
  color: white;
  border-radius: 20%;
  width: auto;
  background-color: rgb(105, 195, 104);
  text-align: center;
  margin-left: 10px;
  align-self: center;
}

button.book {
  margin: 7px 0px;
  height: 30px;
  width: 70px;
  align-self: center;
}

div.location-reviews {
  width: 600px;
  justify-self: flex-start;
  margin-left: -200px;
}

div.location-reviews > div {
  margin: 5px 0;
}

div.weather-container {
  width: 450px;
  height: 280px;
  margin-left: -200px;
  margin-top: -10px;
  margin-bottom: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  background-image: url("https://coastal-camper.s3.amazonaws.com/weather.png");
  background-size: contain;
}

div.today {
  display: flex;
  border-bottom: 1px solid darkgrey;
  height: 100px;
  font-weight: bold;
  margin-top: -5px;
  color: black;
}

div.forecast-container {
  display: flex;
  height: 180px;
  justify-content: space-around;
}

div.day-name {
  font-weight: bold;
  color: black;
}

/* div.day:nth-child(even) {
  background-color: rgb(22, 142, 197);
}

div.day:nth-child(odd) {
  background-color: rgb(135, 217, 255);
} */

div.day {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  text-align: center;
  padding-bottom: 10px;
}

div.max {
  font-weight: bold;
  font-size: 12pt;
  color: black;
}

div.min {
  font-size: 11pt;
  font-weight: bold;
  color: rgb(46, 46, 46);
}

h4.weather-desc {
  margin-top: -30px;
}

img.icon {
  width: 60px;
  height: 60px;
  justify-self: center;
}

div.today > * {
  border: none;
}

div.today > img.icon {
  width: 90px;
  height: 90px;
}

div.today.section {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}

div.second {
  margin-top: 10px;
}

div.max.today-temp {
  font-size: 15pt;
}

div.min.today-temp {
  font-size: 14pt;
}

div.today.section.text {
  font-size: 15pt;
  justify-content: flex-start;
  margin-top: 15px;
  margin-right: -10px;
  margin-left: 30px;
}

div.price {
  font-weight: bold;
  font-size: 15pt;
  color: black;
}

div.price-container {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 11pt;
  border-bottom: 0.5px solid lightgrey;
  color: grey;
}
div.dates {
  height: 60px;
  width: 233.3px;
  display: flex;
  justify-content: space-between;
  font-size: 11pt;
  border-bottom: 0.5px solid lightgrey;
  padding: 0;
}

div.dates > div {
  color: black;
  font-weight: bold;
  border-right: 0.5px solid lightgrey;
  width: %;
  height: 60px;
}

div.dates > div > input {
  width: 100px;
  margin-top: 2px;
}

form.booking-form {
  padding: 0;
  border: none;
  height: 100%;
}
