/* TODO Add site wide styles */

body {
    font-family: "Monaco", sans-serif;
    background-color: darkgray;
}

h1 {
    font-style: italic;
    color: darkblue;
    margin-left: 10px;
}

.logo {
    display: flex;
}
