.location-picture {
  display: flex;
  align-items: flex-end;
  height: 280px;
  width: 360px;
  object-fit: cover;
  object-position: center center;
  background-size: 100%;
  max-width: 100%;
  border-radius: 2px;
  margin-left: 25px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 0 4px 1px darkgrey;
  -moz-box-shadow: 0 0 4px 1px darkgrey;
  box-shadow: 0 0 4px 1px darkgrey;
  cursor: pointer;
}

.location-picture:hover > .location-information {
  background: rgb(228, 227, 227);
}

div.results-bar {
  display: flex;
  justify-content: space-between;
  font-size: 14pt;
  align-self: flex-start;
  width: 800px;
}

div.search-name > p {
  display: inline;
  font-weight: bold;
}

.location-information {
  padding: 5px 6px;
  background: whitesmoke;
  height: 130px;
  width: 400px;
  font: 20px "Helvetica Neue";
  font-weight: bold;
  color: black;
  display: flex;
  flex-direction: column;
}

.location-address {
  color: rgb(90, 90, 90);
  font-weight: normal;
  font-size: 16px;
}

div.location-name {
  width: 100%;
}

div.results-container {
  width: 1200px;
}

div.results-container > p {
  margin-bottom: 30px;
}

.location-reviews-price {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

div.tag-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

div.results-container > p {
  text-decoration: underline;
  cursor: pointer;
  margin: 2px 0;
}

div.tag-page-content {
  display: flex;
  width: 1200px;
}

div.tag-page-content > p {
  font-size: 20pt;
  font-weight: bold;
  width: 400px;
}

div.tag-page-locations {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: fit-content;
  margin-top: 10px;
}

div.tag-page-map {
  width: 300px;
  height: 900px;
}

div.tag-page-map {
  position: sticky;
  top: 150px;
}
